<div class="flex flex-col lg:flex-row h-screen max-w-4xl mx-auto">
  <div class="flex-1 flex flex-col justify-center items-start h-full p-8">
    <div>
      <h1 class="text-[#3392CC] text-6xl">Log In</h1>
      <br />
      <p>Sed do eiusmod tempor incididunt</p>
    </div>
    <form
      class="flex flex-col gap-8 w-full mt-5"
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit()"
    >
      <app-input
        label="EMAIL"
        [inputType]="InputType.TEXT"
        name="firstName"
        [control]="email"
      ></app-input>
      <app-input
        label="PASSWORD"
        name="lastName"
        [inputType]="InputType.PASSWORD"
        [control]="password"
      ></app-input>
      <app-button label="Log In"></app-button>
    </form>
    <a
      href="#"
      class="underline text-[#3392CC] hover:text-[#c24c10] uppercase text-sm my-3 self-end"
      >Forgot Password</a
    >
  </div>
</div>
