<form
  [formGroup]="form"
  class="py-[2rem] px-[1rem] md:px-[5rem] dialog-container"
  (ngSubmit)="onSubmit($event)"
>
  <div class="mb-[2rem]">
    <app-input
      label="Name"
      styleClass="h-full mb-[.4rem]"
      [labelType]="labelType.OuterLabel"
      [control]="name"
    ></app-input>
    <span *ngIf="!name.valid && name.dirty && name.touched" class="text-red-600 text-[.8rem] mt-[2rem]">
    Name is <strong>required</strong>
  </span>
  </div>

  <div class="mb-[3rem]">
    <app-input
      label="Email"
      styleClass="h-full mb-[.4rem]"
      [labelType]="labelType.OuterLabel"
      [control]="email"
    ></app-input>
    <span *ngIf="!email.valid && email.dirty && email.touched" class="text-red-600 text-[.8rem] mt-[2rem]">
    Email is <strong>required</strong>
  </span>
  </div>

  <app-button
    [disabled]="!form.valid"
    [isLoading]="isLoading"
    label="Invite User"
    styleClass="py-4 rounded-1 w-full cursor-pointer"
  ></app-button>
</form>
