<div class="flex flex-col w-full">
  <div class="flex justify-between items-center flex-wrap">
    <h1 class="text-[3rem] font-[Roboto] font-bold text-[#3392CC]">Vehicles</h1>
    <div class="flex gap-3 items-center flex-wrap">
      <app-search-field
        placeholder="Search"
        icon="search"
        styleClass="w-[20rem]"
        [control]="searchValue"
      ></app-search-field>
      <app-filter-input
        placeholder="Sort By"
        icon="filter_list"
        [options]="this.vehiclesSortOptions"
        [function]="showSelectedOptions"
      ></app-filter-input>
      <app-button
        label="Add New Vehicle"
        styleClass="w-[10rem] px-[3rem] py-[.85rem]"
        icon="add_circle_outline"
        (click)="goToAddVehicle()"
      ></app-button>
    </div>
  </div>
  <div class="flex flex-wrap gap-8 mt-8 mx-auto">
    <app-card
      src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg"
      title="Hammer"
      price="200"
      description="lorem ipsum dolores ahmed ipsum dolores lorem ahmed"
      editUrl="/admin/vehicles/create"
      class="flex-grow"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
    ></app-card>
  </div>
</div>
