<div class="flex flex-col w-full">
  <div class="flex justify-between items-center flex-wrap">
    <h1 class="text-[3rem] font-[Roboto] font-bold text-[#3392CC]">Users</h1>
    <div class="flex gap-3 items-center flex-wrap">
      <app-search-field
        placeholder="Search"
        icon="search"
        styleClass="w-[20rem]"
        [control]="searchValue"
      ></app-search-field>
      <app-button
        label="Add New User"
        styleClass="w-[10rem] px-[3rem] py-[.85rem]"
        icon="add_circle_outline"
        (click)="openDialog()"
      ></app-button>
    </div>
  </div>

  <app-filter-users></app-filter-users>

  <main
    class="flex flex-col w-full gap-[1.8rem] pt-[3.8rem]"
    *ngIf="!isLoading"
  >
    <app-user-row
      *ngFor="let user of filteredUsers"
      [user]="user"
      (delete)="deleteUser($event)"
    ></app-user-row>
  </main>
  <main
    class="flex flex-col w-full h-[20rem] items-center justify-center"
    *ngIf="isLoading"
  >
    <mat-spinner class="orange-spinner"></mat-spinner>
  </main>
</div>
