<div
  class="flex justify-between items-center w-full h-[5rem] bg-white rounded-[.4rem] py-3 px-[1.2rem]"
>
  <div class="flex gap-5 items-center">
    <img
      src="assets/images/Users/placeholder.png"
      alt="placeholder image"
      class="h-full rounded"
      *ngIf="!user?.avatar"
    />
    <img
      [src]="user?.avatar"
      alt="placeholder image"
      class="h-full rounded"
      *ngIf="user?.avatar"
    />
    <span class="text-[1.5rem] font-bold">{{ user?.username }}</span>
  </div>
  <div class="flex gap-5 items-center" *ngIf="!user?.isPending">
    <a
      class="h-[2.8rem] w-[2.8rem] bg-[#3392CC] rounded-[.4rem] flex items-center justify-center"
      [routerLink]="'/admin/users/' + user?.id"
    >
      <img
        src="assets/images/Users/eye.svg"
        alt="eye icon"
        class="h-full w-full"
      />
    </a>

    <img
      src="assets/images/Users/Vector.svg"
      alt="trash can"
      class="h-[2rem] w-[2rem]"
    />
  </div>
  <app-button
    label="Resend Invite"
    styleClass="!py-3 !text-md !font-normal !px-8"
    (click)="resendInvite()"
    [isLoading]="resendInvitationLoading"
    *ngIf="user.isPending"
  ></app-button>
</div>
