<div class="flex flex-col gap-8">
  <app-go-back-header
    second="Back to products list"
    title="Add New Product"
  ></app-go-back-header>
  <form
    [formGroup]="addProductForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-8"
  >
    <div>
      <h2>Cover Image</h2>
      <app-image-uploader [imageFormControl]="imageUrl"></app-image-uploader>
    </div>
    <app-element-name-price-category-form
      [firstCategoryList]="firstCategoryList"
      [secondCategoryList]="secondCategoryList"
      [form]="productInfo"
    ></app-element-name-price-category-form>
    <app-button label="Add Product" styleClass="py-5"></app-button>
  </form>
</div>
