<div class="flex items-center gap-[2rem] pt-[3.8rem]">
  <a
    class="text-[#888888] text-[1.1rem] px-[1.5rem] py-1"
    routerLink="."
    [routerLinkActiveOptions]="{ exact: true }"
    [queryParams]="{ filter: null }"
    queryParamsHandling="merge"
    routerLinkActive="active-link"
    >All</a
  >
  <a
    class="text-[#888888] text-[1.1rem] px-[1.5rem] py-1"
    routerLink="."
    [queryParams]="{ filter: 'admins' }"
    queryParamsHandling="merge"
    routerLinkActive="active-link"
    >Admins</a
  >
  <a
    class="text-[#888888] text-[1.1rem] px-[1.5rem] py-1"
    routerLink="."
    [queryParams]="{ filter: 'pending' }"
    queryParamsHandling="merge"
    routerLinkActive="active-link"
    >Pending</a
  >
</div>
