<app-go-back-header
  second="Back to user list"
  title="User no 1"
></app-go-back-header>

<main
  class="bg-white flex flex-col lg:flex-row gap-[3rem] py-[3rem] px-[2rem] mt-[3.8rem] rounded-[.4rem]"
>
  <div class="lg:w-[40rem] flex lg:justify-center relative">
    <img
      src="assets/images/Users/user-profile-placeholder.png"
      class="h-[90%] object-cover"
    />
    <button
      class="h-[3.5rem] w-[3.5rem] bg-[#3392CC] inline-block p-3 rounded-[.2rem] absolute top-0 lg:left-[18%]"
    >
      <img
        src="assets/images/Users/edit-icon.svg"
        alt="edit icon"
        class="object-cover h-full w-full"
      />
    </button>
  </div>
  <div class="flex flex-col w-full">
    <label for="username" class="mb-2 text-[#979797]">User Name</label>
    <div class="flex gap-[1rem] w-full items-center mb-5">
      <input
        type="text"
        id="username"
        class="w-[100%] border-2 border-gray-300 px-4 py-3 rounded-lg"
      />
      <button
        class="h-[3rem] w-[3rem] bg-[#3392CC] inline-block p-3 rounded-[.2rem]"
      >
        <img
          src="assets/images/Users/edit-icon.svg"
          alt="edit icon"
          class="object-cover"
        />
      </button>
    </div>

    <label for="email" class="mb-2 text-[#979797]">Email</label>
    <div class="flex gap-[1rem] w-full items-center mb-5">
      <input
        type="text"
        id="email"
        class="w-[100%] border-2 border-gray-300 px-4 py-3 rounded-lg"
      />
      <button
        class="h-[3rem] w-[3rem] bg-[#3392CC] inline-block p-3 rounded-[.2rem]"
      >
        <img
          src="assets/images/Users/edit-icon.svg"
          alt="edit icon"
          class="object-cover"
        />
      </button>
    </div>

    <label for="phone" class="mb-2 text-[#979797]">User Name</label>
    <div class="flex gap-[1rem] w-full items-center mb-5">
      <input
        type="text"
        id="phone"
        class="w-[100%] border-2 border-gray-300 px-4 py-3 rounded-lg"
      />
      <button
        class="h-[3rem] w-[3rem] bg-[#3392CC] inline-block p-3 rounded-[.2rem]"
      >
        <img
          src="assets/images/Users/edit-icon.svg"
          alt="edit icon"
          class="object-cover"
        />
      </button>
    </div>
  </div>
</main>
