<div class="flex flex-col justify-center">
  <div class="flex flex-wrap justify-between w-full md:text-start mb-[3.8rem]">
    <h1 class="text-[3rem] font-[Roboto] font-bold text-[#3392CC]">
      Dashboard
    </h1>
    <app-search-field
      placeholder="Search"
      icon="search"
      styleClass="w-[20rem]"
      [control]="searchValue"
      (keyup)="search()"
    >
    </app-search-field>
  </div>
  <main>
    <div
      class="flex flex-col md:flex-row flex-wrap gap-[2rem] justify-center md:justify-start"
    >
      <app-overview-card cardTitle="Total Vehicles"></app-overview-card>
      <app-overview-card cardTitle="Total Products"></app-overview-card>
      <app-overview-card cardTitle="Users"></app-overview-card>
    </div>
  </main>
</div>
