<div class="bg-white rounded-lg w-full p-5 gap-5 flex flex-col">
  <app-input
    label="Title"
    [labelType]="LabelType.OuterLabel"
    [control]="this.titleFormControl"
  ></app-input>
  <app-input
    label="Video Description"
    [labelType]="LabelType.OuterLabel"
    [inputType]="InputType.TEXTAREA"
    [control]="this.videoDescriptionFormControl"
  ></app-input>
  <app-input
    label="Youtube Link"
    [labelType]="LabelType.OuterLabel"
    [control]="this.youtubeLinkFormControl"
  ></app-input>
</div>
