<div class="p-5 gap-5 flex flex-col bg-white rounded-lg">
  <app-input
    label="Engine"
    [labelType]="LabelType.OuterLabel"
    [control]="engineFormControl"
  ></app-input>
  <app-input
    label="Features"
    [labelType]="LabelType.OuterLabel"
    [control]="featuresFormControl"
  ></app-input>
  <app-input
    label="Performance Upgrades"
    [labelType]="LabelType.OuterLabel"
    [control]="performanceUpgrades"
  ></app-input>
  <app-input
    label="Interior"
    [labelType]="LabelType.OuterLabel"
    [control]="interiorFormControl"
  ></app-input>
  <app-input
    label="Exterior"
    [labelType]="LabelType.OuterLabel"
    [control]="exteriorFormControl"
  ></app-input>
  <app-input
    label="Dimensions"
    [labelType]="LabelType.OuterLabel"
    [control]="dimensionsFormControl"
  ></app-input>
  <app-input
    label="Shop Link"
    [labelType]="LabelType.OuterLabel"
    [control]="shopLinkFormControl"
  ></app-input>
  <div *ngFor="let field of specifications.value" class="flex flex-col gap-4">
    <div class="flex gap-3 w-full items-end">
      <app-input
        [labelType]="LabelType.OuterLabel"
        [label]="field.name"
        [control]="field.description"
        class="flex-1"
      ></app-input>
      <button
        class="bg-red-500 text-white hover:brightness-75 px-5 py-4 rounded-xl"
        type="button"
        (click)="removeSpecification(field.id)"
      >
        Delete
      </button>
    </div>
  </div>
  <form
    class="border-[#FB6C13] border-2 rounded-xl p-4 flex flex-col gap-4"
    *ngIf="isVisible"
    (submit)="addSpecification($event)"
  >
    <app-input
      label="Specification name"
      [labelType]="LabelType.OuterLabel"
      [control]="name"
    ></app-input>
    <app-button label="Add specification"></app-button>
  </form>
  <button
    class="flex items-center justify-center border-[#FB6C13] border-2 rounded-xl border-dashed py-3 text-[#FB6C13] hover:opacity-70 transition-all"
    type="button"
    (click)="toggleForm()"
  >
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
